<div class="content_container">
  <div class="content_product">
    <app-product></app-product>
  </div>
  <div class="content_product">
    <app-product></app-product>
  </div>
  <div class="content_product">
    <app-product></app-product>
  </div>
  <div class="content_product">
    <app-product></app-product>
  </div>
  <div class="content_product">
    <app-product></app-product>
  </div>
  <div class="content_product">
    <app-product></app-product>
  </div>
  <div class="content_product">
    <app-product></app-product>
  </div>
  <div class="content_product">
    <app-product></app-product>
  </div>
  </div>

