<hr>
<div class="categories_container">
<div class="categories">
  <a href="categoria/Decoupage">
  <img  src="/categories/decoupage.avif" alt="Decoupage">
  </a>
  <h3>Decoupage</h3>
</div>
<div class="categories">
  <a href="categoria/Tintas">
  <img src="/categories/tintas.avif" alt="">
  </a>
  <h3>Tintas</h3>
</div>
<div class="categories">
  <a href="categoria/Ferragens">
  <img src="/categories/ferragens.avif" alt="">
  </a>
  <h3>Ferragens</h3>
</div>
<div class="categories">
  <a href="categoria/Linhas">
  <img src="/categories/linhas.avif" alt="">
  </a>
  <h3>Linhas</h3>
</div>
<div class="categories">
  <a href="categoria/Madeira">
  <img src="/categories/madeira.avif" alt="">
  </a>
  <h3>Madeira</h3>
</div>
<div class="categories">
  <a href="categoria/Papelaria">
  <img src="/categories/papelaria.avif" alt="">
  </a>
  <h3>Papelaria</h3>
</div>
<div class="categories">
  <a href="categoria/Pincéis">
  <img src="/categories/pinceis.avif" alt="">
  </a>
  <h3>Pincéis</h3>
</div>
<div class="categories">
  <a href="categoria/Resinas">
  <img src="/categories/resinas.avif" alt="">
  </a>
  <h3>Resinas</h3>
</div>
<div class="categories">
  <a href="categoria/Stencil">
  <img src="/categories/stencil.avif" alt="">
  </a>
  <h3>Stencil</h3>
</div>
<div class="categories">
  <a href="categoria/Acessórios">
  <img  src="/categories/acessorios.avif" alt="">
  </a>
  <h3>Acessórios</h3>
</div>
</div>
<hr>
