<div class="categories_container">
<div class="categories">
  <img  src="/categories/decoupage.avif" alt="Decoupage">
  <h3>Decoupage</h3>
</div>
<div class="categories">
  <img src="/categories/tintas.avif" alt="">
  <h3>Tintas</h3>
</div>
<div class="categories">
  <img src="/categories/ferragens.avif" alt="">
  <h3>Ferragens</h3>
</div>
<div class="categories">
  <img src="/categories/linhas.avif" alt="">
  <h3>Linhas</h3>
</div>
<div class="categories">
  <img src="/categories/madeira.avif" alt="">
  <h3>Madeira</h3>
</div>
<div class="categories">
  <img src="/categories/papelaria.avif" alt="">
  <h3>Papelaria</h3>
</div>
<div class="categories">
  <img src="/categories/pinceis.avif" alt="">
  <h3>Pincéis</h3>
</div>
<div class="categories">
  <img src="/categories/resinas.avif" alt="">
  <h3>Resinas</h3>
</div>
<div class="categories">
  <img src="/categories/stencil.avif" alt="">
  <h3>Stencil</h3>
</div>
<div class="categories">

  <img  src="/categories/acessorios.avif" alt="">
  <h3>Acessórios</h3>
</div>
</div>
