<div class="factory_container">
  <div class="factory_title">
    <h1>Nossa História</h1>
  </div>
  <div class="factory_text">
    <p>
      Nossa fábrica está localizada no Centro - Vila Velha.<br>
      Estamos a 15 minutos de Vitória-ES.<br>
      Nosso endereço: Rua Monteiro, 257 - Centro - Vila Velha-ES - CEP 29100-000.<br>
      Não temos atendimento presencial em nossa fábrica,
      o atendimento é apenas para retirada de pedidos, que foram realizados em nossa loja online.
      <br><br>

    </p>
  </div>
</div>


