<div class="container">

    <div *ngFor="let product of filteredProducts" class="product_container">
      <div class="product_image">
        <img [src]="product.imagem">
      </div>
      <div class="product_brand">
        <h6>{{ product.marca }}</h6>
      </div>
      <div class="product_name">
        <h6>{{ product.nome }}</h6>
      </div>
      <div class="product_price">
        <h3>R$ {{ product.preco | number:'1.2-2' }}</h3>
        <button>Adicionar</button>
      </div>
    </div>
  
</div>

