<div class="container">
  <div class="title">
    <h1>Política de compra</h1>
  </div>
  <div class="text">
    <p>
O procedimento de compra no Web Site Alma Artesanal será regulado por meio deste documento. Por isso, é indispensável seu conhecimento antes de um visitante finalizar seu pedido para aproveitar da melhor forma possível a facilidade oferecida através deste site.
<br>
Este documento é parte integrante dos Termos de Uso e Condições de Navegação do Web Site, e caso haja conflito entre as disposições de ambos os documentos, deve prevalecer o disposto no mais específico.
<br><br>
1. Definições
<br>
1.1. Para fins desta Política, aplicam-se as seguintes definições:
<br>
Autenticação: Ato de o visitante inserir seu nome de usuário e senha para ter acesso às áreas e funcionalidades restritas do site;
<br>
Clientes: Pessoas que efetuaram aquisição de produtos ou serviços oferecidos pelo Web Site;
<br>
Conta de Acesso: Credencial digital formada pela combinação de login e senha, única e intransferível para cada usuário do site.
<br>
Session ID: Identificação da sessão do visitante, iniciada na sua autenticação com sucesso;
<br>
Usuário: Todo visitante autenticado no site;
<br>
Visitante: Qualquer pessoa que navegar pelo site.
<br><br>
2. Funcionamento da loja virtual Alma Artesanal
<br>
2.1. O Web Site Alma Artesanal oferece a seus visitantes a facilidade de adquirirem produtos através de sua loja virtual, bastando preencherem o cadastro no site ou utilizarem outras formas de identificação disponíveis que estarão aptos a realizar seus pedidos.
<br>
2.2. Para concluir um pedido, o visitante deve estar devidamente autenticado conforme solicitado pelo sistema com o uso de sua conta de acesso ou forma diversa permitida.
<br>
2.3. Ao selecionar os produtos que deseja comprar, o usuário deve adicionar os mesmos ao seu carrinho virtual e, tão logo esteja satisfeito, procederá com a finalização de seu pedido, indicando o local de entrega e efetuando o pagamento correspondente.
<br>
2.4. Depois de finalizado o pedido e indicada sua forma de pagamento, este será processado para aprovação ou cancelamento. Caso aprovado, haverá a entrega pelo método escolhido.
<br>
2.5. O pedido pode ser cancelado caso alguma das hipóteses abaixo ocorra:
<br>
• Não pagamento do boleto ou insuficiência de saldo ou crédito no cartão;
<br>
• Inconsistência nos dados fornecidos pelo cliente;
<br>
• Erro na formação do pedido em razão de defeitos no dispositivo do cliente;
<br>
• Quantidade de produtos ou sequência de compras que denote revenda em vez de consumo próprio;
<br>
• Motivos que tornem o cumprimento do pedido impossível, pela quebra de confiança ou uso de má-fé.
<br>
2.6. Caso haja divergência de preços entre os anúncios exibidos nas páginas dos produtos e o constante no carrinho de compras, deverá prevalecer este último.
<br><br>
3. Aquisição de produtos
<br>
3.1. Os produtos podem ser adquiridos na loja virtual Alma Artesanal através de um dos meios de pagamento oferecidos pelo Web Site no momento do fechamento do carrinho virtual.
<br>
3.2. Assim que o usuário concluir o pedido, este passará pelos estágios a seguir, sendo possível a verificação de seu andamento no site:
<br>
a) Pedido Efetuado: Comprova o registro do pedido nos sistemas Alma Artesanal;
<br>
b) Pedido em Análise: O Alma Artesanal realizará a checagem dos dados cadastrais do Cliente e analisará o pagamento efetuado.
<br>
c) Pedido Faturado: Significa que o pedido foi aprovado e encontra-se expedido e com o transportador;
<br>
d) Pedido Cancelado: Impossibilidade de processamento do pedido por alguma razão específica, podendo variar entre:
<br>
• Não liberação em virtude de inconsistência de algum dado ou informação cadastral;
<br>
• Não aprovação do débito junto a Administradora do cartão de crédito;
<br>
• Ausência de pagamento do boleto;
<br>
• Não concretização do débito em conta, caso a opção seja de débito automático;
<br>
• Outros motivos supervenientes que impossibilitem o processamento do pedido.
<br>
3.2.1. Caso o pedido finalizado não puder ser entregue em razão de indisponibilidade de estoque, o Alma Artesanal fará contato com o comprador através do Serviço de Atendimento ao Consumidor para buscar a melhor solução.
<br><br>
4. Atendimento ao cliente
<br>
Caso tenha qualquer dúvida em relação à Política de Compra, entre em contato pelos seguintes canais:
<br>
- Pelo telefone (27) 99944-7549, de segunda a sexta, das 9hs às 20hs
<br>
- Pelo WhatsApp (27) 99944-7549, de segunda a segunda, das 8hs às 22hs.
<br>
- Pelo e-mail felipelopesnascimento&#64;hotmail.com
<br>
-Pelo linkedin https://www.linkedin.com/in/felipelopesnascimento/


    </p>
  </div>
</div>


