<div class="store_container">
  <div class="store_title">
    <h1>Nossa Loja Física</h1>
  </div>
  <div class="store_text">
    <p>
      Nossa loja está localizada no Centro - Vila Velha.<br>
      Estamos a 15 minutos de Vitória-ES.<br>
      Nosso endereço: Rua Monteiro, 257 - Centro - Vila Velha-ES - CEP 29100-000.<br><br>

      Aqui você encontrará uma variedade enorme de produtos para Artesanato e Materiais Artísticos.<br>
      Os produtos mais vendidos, os queridinhos da loja e as novidades, vocês encontrarão aqui em nossa loja.<br>
      Porém não temos todos os produtos da loja online, devido a limitação de espaço.<br>
      Caso queira algum produtos em especial, entre em contato com a nossa loja antes da visita,
      ou faça a compra em nossa loja online e retire na loja física.<br><br>
      Esperamos a sua visita.


      <br><br>

    </p>
  </div>
</div>
