<div class="cart-container">
  <h2>Meu Carrinho</h2>

  <div *ngIf="cartItems.length > 0; else emptyCart">
    <div class="cart-item" *ngFor="let item of cartItems">
      <img [src]="item.imagem" alt="{{ item.name }}" class="product-image" />
      <div class="product-details">
        <h3>{{ item.name }}</h3>
        <p>Preço: {{ item.preco | currency:'BRL' }}</p>
        <p>Quantidade: {{ item.quantity }}</p>
        <button (click)="increaseFromCart(item)">Aumentar</button>
        <button (click)="decreaseFromCart(item)">Diminuir</button>
        <button (click)="removeFromCart(item)">Remover</button>
      </div>
    </div>

    <div class="cart-summary">
      <h3>Total: {{ getTotalPrice() | currency:'BRL' }}</h3>
      <button (click)="checkout()">Finalizar Compra</button>
    </div>
  </div>

  <ng-template #emptyCart>
    <p>Seu carrinho está vazio.</p>
    <p>cart itens {{ cartItems }}</p>
  </ng-template>
</div>

