.icons_container{

 width: 200px;
 height: 50px;
 margin-left: 0px;
 margin-top: 15px;
 display: flex;
 flex-direction: row;

}
.icons_login > a > img{
  width: 40px;
  height: 40px;
  color: black;
}

.icons_cart > a > img{
  width: 40px;
  height: 40px;
  color: black;
}
.icons_login{
  margin-top: 0px;
  margin-left: 100px;

}

.icons_cart{
  margin-top: 0px;
  margin-left: 60px;

}

.icons_sum{
  margin-top: -10px;
  margin-left: 50px;
}
.icons_sum > h5{
  color: #a0998b;

}

.icons_sum > h4{
  color: #a0998b;
}

